<h2> The Lineages and Histories of the Great Houses of the Seven Kingdoms, With Descriptions of Many High Lords and Noble Ladies and Their Children </h2>
<h3> First written by Grand Mæster Malleon </h3>
<h4> Abridged and Complied </h4>
